<div class="container">
  <mat-form-field>
    <input id="name" matInput placeholder="Name">
  </mat-form-field>
  <mat-form-field>
    <input id="address" matInput placeholder="Address">
  </mat-form-field>
  <mat-form-field>
    <input id="age" matInput placeholder="Age">
  </mat-form-field>
  <mat-form-field>
    <input id="occupation" matInput placeholder="Occupation">
  </mat-form-field>
  <mat-form-field>
    <input id="existingLoans" matInput placeholder="Existing loans">
  </mat-form-field>
  <mat-form-field>
    <input id="riskRating" matInput placeholder="Risk rating">
  </mat-form-field>
  <mat-form-field>
    <input id="loanType" matInput placeholder="Type of loan">
  </mat-form-field>
  <mat-form-field>
    <input id="loanAmount" matInput placeholder="Loan amount">
  </mat-form-field>
  <mat-form-field>
    <input id="maritalStatus" matInput placeholder="Marital status">
  </mat-form-field>
  <mat-form-field>
    <input id="annualIncome" matInput placeholder="Annual income">
  </mat-form-field>
  <mat-form-field>
    <input id="income" matInput placeholder="Monthly discretionary income">
  </mat-form-field>
  <mat-form-field>
    <input id="apr" #apr matInput placeholder="APR">{{aprValue}}
  </mat-form-field>
  <mat-checkbox id="approve" formControlName="approveRequired">Approved?</mat-checkbox>
  <div class="buttonWrapper">
    <button id="submitBtn" type="button" class="btn btn-success buttonClass" (click)="generateAPR()">Submit</button>
  </div>
</div>
